@model KCD.ViewModel.ViewTopics

@{
    ViewBag.Title = "Topics";
}

@{Html.RenderPartial("TopicHeader");}

<h2>View Topics</h2>

@if (Model.Topics.Count > 0)
{
    <table>
        <tr>
            <td>
                @{
    var grid = new WebGrid(Model.Topics, rowsPerPage: 20);
    
                }
                @grid.GetHtml(
                    columns: grid.Columns(
                        grid.Column("NumberOfVotes", "Votes  "),
                        grid.Column("Name", format: @<a href="/Topic/ViewATopic?topicId=@item.Id">@item.Name</a>),
                        grid.Column("SuggestedByName", "Suggested By"),
                        grid.Column("Suggested Date", format: @<b>@Convert.ToDateTime(item.SuggestedDate).ToShortDateString()</b>),
                        grid.Column("Date Covered", format: @<b>@Convert.ToDateTime(item.DateCovered).ToShortDateString()</b>)))
            </td>
        </tr>
    </table>
}