@{
    ViewBag.Title = "Get in touch!";
}
<h2>@ViewBag.Title</h2>

<address>
    <abbr title="Phone">P:</abbr>
    615.815.4162
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:82edwards@gmail.com">David Edwards</a>
    <strong>Email:</strong>   <a href="mailto:knoxcodingdojo@gmail.com">Dojo Email Address</a>
</address>