@{
    ViewBag.Title = "Get in touch!";
}
<h2>@ViewBag.Title</h2>

<address>
    <abbr title="Phone">P:</abbr>
    615.815.4162
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:82edwards@gmail.com">David Edwards</a>
    <br />
    <strong>Email:</strong>   <a href="mailto:knoxcodingdojo@gmail.com">Dojo Email Address</a>
    <br/>
    <strong>Twitter:</strong> <a href="http://twitter.com/intent/user?screen_name=knxcodingdojo">Follow @KNXCodingDojo</a>
</address>