@{
    ViewBag.Title = "Knoxville Coding Dojo";
}

<div class="jumbotron">
    <h1>Knoxville Coding Dojo</h1>
</div>

<div class="row">
    <div>
        Knoxville Coding Dojo provides people in Knoxville TN and the surrounding area a place to get together and discuss all things related to software development.
    </div>
    <br />
    <p>
        There are three main goals of the group.
    </p>
    <p>
        1.  Provide a safe space where people can come together and discuss things that they would like to discuss.
    </p>
    <p>
        2.  Provide a time and location for networking with our peers.

    </p>
    <p>
    </p>  3.  And most importantly allow a sponsor to buy us lunch and maybe give us free things (SWAG!!!!).
    <br />
    <p>
        This group is completely platform/technology/language/idea set independent.  The only rule to the discussions is common courtesy.  This will be strictly enforced.  Debate is encouraged.  Anger is not.
    </p>
    <br />
    <p>
        So, do you have something that you would like to talk about?  Do you have a question that you want answered?  Can you answer someone else’s question?  All three?  If so, then I cannot wait to meet you.
    </p>
    <p>
        --David
    </p>
</div>