@{
    ViewBag.Title = "Sponsors";
}

<h2>Sponsors</h2>

<h3>Premier Staffing Partners</h3>
<p>@Html.Raw("@premierTechjobs")</p>
<address>
    <abbr title="Phone">P:</abbr>
    865.531.8588
</address>

<address>
    <strong>Email:</strong>
    <a href="mailto:taryn@premierstaffingpartners.com">Taryn Keely</a>
</address>
<address>
    <strong>Facebook:</strong>
    <a href="https://www.facebook.com/PremierStaffingPartners">Facebook</a>
</address>
<a href="http://premierstaffingpartners.com"> <img src="../../Images/premier.jpg" alt="Premier Staffing Partners" /></a>
<br />
<br />

<h3>Pluralsight</h3>
<p>@Html.Raw("Pluralsight is the global leader in high-quality online training for hardcore developers and IT professionals. The revolutionary Pluralsight training library provides developers with instant access to a rich collection of online training courses delivered by industry authorities. See what you can learn at pluralsight.com and join the @pluralsight community on Twitter.")</p>

<a href="http://pluralsight.com">
    <img src="../../Images/pluralsight.png" alt="Pluralsight - Hardcore Developer and IT Training">
</a>

<br />
<br />

<h3>JetBrains</h3>
<p>@Html.Raw("JetBrains is a technology-leading software development firm specializing in the creation of intelligent, productivity-enhancing software. The company is widely known for ReSharper, award-winning productivity tool for .NET developers (www.jetbrains.com/resharper), among others. For more information, please visit www.jetbrains.com.")</p>

<a href="http://www.jetbrains.com/idea/">
    <img src="../../Images/banner_general.gif" alt="IntelliJ IDEA Logo" title="IntelliJ IDEA: The Most Intelligent Java IDE" />
</a>